body {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
}

.tile1, .tile2, .tile3, .tile4, .tile5 {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.tile4 {
    justify-content: space-evenly;
}

.scoreRectangle {
    border-width: 2px;
    border-style: solid;
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border-color: black;
    margin: 20px;
    font-size: 72px;
    text-align: center;
    line-height: 2;
}
.choice {
    font-size: 32px;
    text-align: center;
    margin: 30px;
}

.RPS {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
}

button {
    margin-top: 50px;
    font-size: 32px;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;  
}

button:hover {
    background-color: grey;
}

#winnerAnnoucement {
    margin: 100px;
    font-size: 100px;
    text-align: center;
    font-weight: lighter;
}